<aside id="search-container">
  <section id="search-box">
    <%= form_tag('/locations', method: :get, id: 'form-search') do %>
      <section id="keyword-search-box">
        <div class="input-search-small clearable">
          <%= button_tag(type: 'submit', name: nil, id: 'button-search', class: 'button-icon', title: 'Update search results') do %>
            <i class="fa fa-search"></i>
          <% end %>
          <%= search_field_tag :keyword, params[:keyword], placeholder: t('placeholders.results_page_keyword_search'), tabindex: 1 %>
        </div>
      </section>
      <section id="search-options">
        <%= render 'component/search/location' %>
        <%= render 'component/search/agency' %>
      </section>
      <ul id="search-controls">
        <li>
          <%= button_tag(type: 'submit', name: nil, class: 'button-small') do %>
            <i class="fa fa-refresh"></i>
            <%= t('buttons.update_search_results') %>
          <% end %>
        </li>
        <li>
          <%= button_tag(type: 'reset', name: nil, id: 'button-reset', class: 'button-small') do %>
            <i class="fa fa-times-circle"></i>
            <%= t('buttons.clear_search_fields') %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </section>
</aside>
