<dl>
  <dt>Health Care Reform</dt>
  <dd>
    <strong>
      Millions of Californians can choose affordable, high-quality health insurance coverage that will take effect January 2014.
    </strong>
  </dd>
</dl>
<p>
  <%= link_to 'More info...', 'http://www.smchsa.org/healthinsurance', target: '_blank' %>
</p>
<table>
  <tr>
    <th>
      You are:
    </th>
    <th>
      You qualify for:
    </th>
    <th>
      Who can help?
    </th>
  </tr>
  <tr>
    <td>
      An individual making less than $15,856
    </td>
    <td>
      Medi-Cal, a free government program.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      An individual making $15,857-$28,725
    </td>
    <td>
      Help in paying out-of-pocket costs and eligible for a tax credit that will lower your monthly premium.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
      <p>
        Covered California, 1-888-975-1142,
        <%= link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank' %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      An individual making $28,726-$45,960
    </td>
    <td>
      A tax credit that will lower the amount of your monthly premium.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
      <p>
        Covered California, 1-888-975-1142,
        <%= link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank' %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      An individual making over $45,960
    </td>
    <td>
      Not eligible for tax credit, but eligible to buy health insurance through Covered California.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
      <p>
        Covered California, 1-888-975-1142,
        <%= link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank' %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      A family of four making less than $32,499
    </td>
    <td>
      Medi-Cal, a free government program.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      A family of four making $32,500-$58,874
    </td>
    <td>
      Help in paying out-of-pocket costs and eligible for a tax credit that will lower your monthly premium.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
      <p>
        Covered California, 1-888-975-1142,
        <%= link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank' %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      A family of four making $58,875-$94,199
    </td>
    <td>
      A tax credit that will lower the amount on your monthly premium.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
      <p>
        Covered California, 1-888-975-1142,
        <%= link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank' %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      A family of four making over $94,200
    </td>
    <td>
      Not eligible for tax credit but you are eligible to buy health insurance through Covered California.
    </td>
    <td>
      <p>
        Human Services Agency, 1-800-223-8383,
        <%= link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank' %>
      </p>
      <p>
        Covered California, 1-888-975-1142,
        <%= link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank' %>
      </p>
    </td>
  </tr>
</table>
